In [47]:
import pandas as pd
import datetime as dt

df = pd.DataFrame(
    index=pd.DatetimeIndex(pd.date_range(start='2021-04-01', end=dt.datetime.now()), name='Date'),
    # columns=pd.MultiIndex.from_tuples([('A', 1),('A', 2),('B', 1),('B', 2)], names=['alpha', 'numeric'])
)
print(df.index)
print(df.columns)
df

DatetimeIndex(['2021-04-01', '2021-04-02', '2021-04-03', '2021-04-04',
               '2021-04-05', '2021-04-06', '2021-04-07', '2021-04-08',
               '2021-04-09', '2021-04-10',
               ...
               '2022-12-02', '2022-12-03', '2022-12-04', '2022-12-05',
               '2022-12-06', '2022-12-07', '2022-12-08', '2022-12-09',
               '2022-12-10', '2022-12-11'],
              dtype='datetime64[ns]', name='Date', length=620, freq='D')
Index([], dtype='object')

Empty DataFrame
Columns: []
Index: [2021-04-01 00:00:00, 2021-04-02 00:00:00, 2021-04-03 00:00:00, 2021-04-04 00:00:00, 2021-04-05 00:00:00, 2021-04-06 00:00:00, 2021-04-07 00:00:00, 2021-04-08 00:00:00, 2021-04-09 00:00:00, 2021-04-10 00:00:00, 2021-04-11 00:00:00, 2021-04-12 00:00:00, 2021-04-13 00:00:00, 2021-04-14 00:00:00, 2021-04-15 00:00:00, 2021-04-16 00:00:00, 2021-04-17 00:00:00, 2021-04-18 00:00:00, 2021-04-19 00:00:00, 2021-04-20 00:00:00, 2021-04-21 00:00:00, 2021-04-22 00:00:00, 2021-04-23 00:00:00, 2021-04-24 00:00:00, 2021-04-25 00:00:00, 2021-04-26 00:00:00, 2021-04-27 00:00:00, 2021-04-28 00:00:00, 2021-04-29 00:00:00, 2021-04-30 00:00:00, 2021-05-01 00:00:00, 2021-05-02 00:00:00, 2021-05-03 00:00:00, 2021-05-04 00:00:00, 2021-05-05 00:00:00, 2021-05-06 00:00:00, 2021-05-07 00:00:00, 2021-05-08 00:00:00, 2021-05-09 00:00:00, 2021-05-10 00:00:00, 2021-05-11 00:00:00, 2021-05-12 00:00:00, 2021-05-13 00:00:00, 2021-05-14 00:00:00, 2021-05-15 00:00:00, 2021-05-16 00:00:00, 2021-05-17 00:00:00, 2021-05-18 00:00:00, 2021-05-19 00:00:00, 2021-05-20 00:00:00, 2021-05-21 00:00:00, 2021-05-22 00:00:00, 2021-05-23 00:00:00, 2021-05-24 00:00:00, 2021-05-25 00:00:00, 2021-05-26 00:00:00, 2021-05-27 00:00:00, 2021-05-28 00:00:00, 2021-05-29 00:00:00, 2021-05-30 00:00:00, 2021-05-31 00:00:00, 2021-06-01 00:00:00, 2021-06-02 00:00:00, 2021-06-03 00:00:00, 2021-06-04 00:00:00, 2021-06-05 00:00:00, 2021-06-06 00:00:00, 2021-06-07 00:00:00, 2021-06-08 00:00:00, 2021-06-09 00:00:00, 2021-06-10 00:00:00, 2021-06-11 00:00:00, 2021-06-12 00:00:00, 2021-06-13 00:00:00, 2021-06-14 00:00:00, 2021-06-15 00:00:00, 2021-06-16 00:00:00, 2021-06-17 00:00:00, 2021-06-18 00:00:00, 2021-06-19 00:00:00, 2021-06-20 00:00:00, 2021-06-21 00:00:00, 2021-06-22 00:00:00, 2021-06-23 00:00:00, 2021-06-24 00:00:00, 2021-06-25 00:00:00, 2021-06-26 00:00:00, 2021-06-27 00:00:00, 2021-06-28 00:00:00, 2021-06-29 00:00:00, 2021-06-30 00:00:00, 2021-07-01 00:00:00, 2021-07-02 00:00:00, 2021-07-03 00:00:00, 2021-07-04 00:00:00, 2021-07-05 00:00:00, 2021-07-06 00:00:00, 2021-07-07 00:00:00, 2021-07-08 00:00:00, 2021-07-09 00:00:00, ...]

[620 rows x 0 columns]

In [32]:
import yfinance as yf

spy = yf.download('SPY', start=df.index[0], end=df.index[-1])[['Close']]
spy

[*********************100%***********************]  1 of 1 completed

                 Close
Date
2021-04-01  400.609985
2021-04-05  406.359985
2021-04-06  406.119995
2021-04-07  406.589996
2021-04-08  408.519989
...                ...
2022-12-05  399.589996
2022-12-06  393.829987
2022-12-07  393.160004
2022-12-08  396.239990
2022-12-09  393.279999

[428 rows x 1 columns]

In [34]:
# df.merge(spy, left_index=True, right_index=True)

/tmp/ipykernel_3253/467086424.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left, 1 on the right)
  df.merge(spy, left_index=True, right_index=True)

           (A, 1) (A, 2) (B, 1) (B, 2)       Close
Date
2021-04-01    NaN    NaN    NaN    NaN  400.609985
2021-04-05    NaN    NaN    NaN    NaN  406.359985
2021-04-06    NaN    NaN    NaN    NaN  406.119995
2021-04-07    NaN    NaN    NaN    NaN  406.589996
2021-04-08    NaN    NaN    NaN    NaN  408.519989
...           ...    ...    ...    ...         ...
2022-12-05    NaN    NaN    NaN    NaN  399.589996
2022-12-06    NaN    NaN    NaN    NaN  393.829987
2022-12-07    NaN    NaN    NaN    NaN  393.160004
2022-12-08    NaN    NaN    NaN    NaN  396.239990
2022-12-09    NaN    NaN    NaN    NaN  393.279999

[428 rows x 5 columns]

In [35]:
import streamlit as st
import gspread as gs 

gc = gs.service_account_from_dict(st.secrets['gcp_service_account'])
ss = gc.open_by_key(st.secrets['portfolio'].spreadsheet_key)
ws_operation = ss.worksheet(st.secrets['portfolio'].worksheet_name)
ws_greenbull = ss.worksheet('GREENBULL')

In [48]:
import pandas as pd

ope = pd.DataFrame(ws_operation.get_all_records()).sort_values('Date').astype({'Date': 'datetime64[ns]'}).set_index('Date')
ope

,Portfolio,Account,Asset,Price,Amount,Fees,Total,Currency,Total€,Out,Profit
Date,,,,,,,,,,,
2021-04-30,ZEN,eToro,Deposit$,0.8361,598.00000,,500.00,€,500€,,
2021-04-30,ZEN,eToro,GREENBULL,15310.0000,0.03910,,598.00,$,,,
2021-07-30,ZEN,eToro,Deposit$,0.8361,598.00000,,500.00,€,500€,,
2021-07-30,ZEN,eToro,GREENBULL,15140.0000,0.03860,,585.00,$,,,
2021-08-10,DMA,B.Direct PEA,Deposit€,1.0000,100.00000,,100.00,€,100€,,
2021-08-10,ZEN,B.Direct CTO,Deposit€,1.0000,300.00000,,300.00,€,300€,,
2021-10-01,ZEN,eToro,Deposit$,0.8696,575.00000,,500.00,€,500€,,
2021-10-01,ZEN,eToro,GREENBULL,15060.0000,0.03820,,575.00,$,,,
2021-11-01,ZEN,eToro,Deposit$,0.8696,575.00000,,500.00,€,500€,,
2021-11-01,ZEN,eToro,GREENBULL,15810.0000,0.03640,,575.00,$,,,
2021-12-01,ZEN,eToro,GREENBULL,14920.0000,0.04020,10.0,600.00,$,,,
2021-12-01,ZEN,eToro,Deposit$,0.8889,1125.00000,,1000.00,€,"1,000€",,
2021-12-31,ZEN,eToro,GREENBULL,14630.0000,0.03420,15.0,500.00,$,,,
2022-02-01,ZEN,eToro,Deposit$,0.8929,560.00000,,500.00,€,500€,,
2022-02-01,ZEN,eToro,GREENBULL,14130.0000,0.03930,,555.00,$,,,
2022-03-24,DMA,B.Direct PEA,Deposit€,1.0000,8400.00000,,8400.00,€,"8,400€",,
2022-03-24,ZEN,B.Direct CTO,Deposit€,1.0000,1200.00000,,1200.00,€,"1,200€",,
2022-04-01,ZEN,eToro,Deposit$,0.9124,548.00000,,500.00,€,500€,,
2022-04-01,ZEN,Binance,DepositUSDT,0.9091,2200.00000,,2000.00,€,"2,000€",,
2022-04-01,ZEN,eToro,GREENBULL,13850.0000,0.03830,18.0,530.00,$,,,
2022-04-05,ZEN,B.Direct CTO,GOLD,70.0000,4.00000,0.99,280.99,€,281€,,
2022-04-05,ZEN,Binance,BTC,45707.0000,0.00480,0.15,220.00,USDT,,,
2022-04-13,ZEN,Binance,BTC,40809.0000,0.00540,0.04,220.00,USDT,,,
2022-04-13,ZEN,B.Direct CTO,GOLD,72.6900,3.00000,0.99,219.06,€,219€,,
2022-04-19,ZEN,B.Direct PEA,Deposit€,1.0000,1750.00000,,1750.00,€,"1,750€",,
2022-04-19,ZEN,B.Direct CTO,Deposit€,1.0000,250.00000,,250.00,€,250€,,
2022-05-02,ZEN,Binance,BTC,39000.0000,0.00560,0.04,220.00,USDT,,,
2022-05-02,ZEN,B.Direct CTO,GOLD,70.0000,4.00000,0.99,280.99,€,281€,,
2022-06-01,ZEN,eToro,Deposit$,0.9434,530.00000,,500.00,,,,
2022-06-01,ZEN,eToro,GREENBULL,12170.0000,0.04190,20.0,510.00,$,,,
2022-06-01,ZEN,B.Direct CTO,GOLD,68.0000,4.00000,0.99,272.99,€,273€,,
2022-06-01,ZEN,Binance,BTC,31500.0000,0.00700,0.13,220.00,USDT,,,
2022-07-01,ZEN,Binance,BTC,19229.0000,0.01144,0.02,220.00,USDT,,,
2022-07-04,ZEN,B.Direct CTO,GOLD,69.0000,4.00000,0.99,277.00,€,277€,,
2022-07-05,ZEN,B.Direct CTO,Deposit€,1.0000,250.00000,,250.00,€,250€,,
2022-07-05,ZEN,B.Direct PEA,Deposit€,1.0000,1250.00000,,1250.00,€,"1,250€",,
2022-08-05,ZEN,Binance,BTC,23194.0000,0.00950,,220.00,USDT,,,
2022-08-05,ZEN,B.Direct CTO,GOLD,69.5000,3.00000,0.99,209.49,€,209€,,
2022-08-25,ZEN,B.Direct CTO,Deposit€,1.0000,500.00000,,500.00,€,500€,,
2022-10-12,ZEN,B.Direct CTO,GOLD,68.4200,4.00000,0.99,274.67,€,275€,,
2022-10-12,ZEN,B.Direct PEA,ESE,17.9000,55.00000,1.9,986.40,€,986€,,
2022-10-12,ZEN,Binance,BTC,19150.0000,0.01150,,219.84,USDT,,,

In [49]:
import numpy as np

for portfolio in np.unique(ope['Portfolio']):
    for asset in np.unique(ope[ope['Portfolio'] == portfolio]['Asset']):
        print(portfolio, asset) 
        df = df.merge(pd.DataFrame({
            'Date': pd.to_datetime(dfa.index),
            f'{col}_Amount': amt,
            f'{col}_Total': tot,
            f'{col}_PRU': pru,
        }), on='Date', how='left')

DMA Deposit€
ZEN BTC
ZEN Deposit$
ZEN DepositUSDT
ZEN Deposit€
ZEN ESE
ZEN GOLD
ZEN GREENBULL