In [17]:
%load_ext autoreload
%autoreload 2
from api_tricount import build_data

df = build_data()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
(1022, 16)
Index(['Titre', 'Montant', 'Devise', 'Taux de change',
       'Montant dans la devise du tricount (EUR)', 'Type de transaction',
       'Catégorie', 'Payé par', 'Payé par Commun', 'Payé par Lucie',
       'Payé par Vincent', 'Impacté à Commun', 'Impacté à Lucie',
       'Impacté à Vincent', 'Date & heure', 'URL des images'],
      dtype='object')

In [18]:
df.loc[2023,:,:]

                       Lucie  Vincent   Total
Mois Catégorie
1    Alcool           -40.50   -40.50  -81.00
     Alimentation    -276.38  -296.38 -572.76
     Boulangerie        0.00   -32.00  -32.00
     Cadeau             0.00   530.00  530.00
     Loyer & charges    0.00   -26.36  -26.36
     Shopping         -92.50   -92.50 -185.00
     Transport       -569.76   -43.10 -612.86
     Week-end         -40.51   -40.51  -81.02